<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroceryyCartt"
        tools:targetApi="31">
        <activity
            android:name=".RatingActivity"
            android:exported="false" />
        <activity
            android:name=".ResetActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".OrderSuccessfull"
            android:exported="false" />
        <activity
            android:name=".progressActivity"
            android:exported="false" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="true" />
        <activity
            android:name=".MeatfishActivity"
            android:exported="false" />
        <activity
            android:name=".SpicesActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalcareActivity"
            android:exported="false" />
        <activity
            android:name=".GrainsActivity"
            android:exported="false" />
        <activity
            android:name=".FruitsveggiActivity"
            android:exported="false" />
        <activity
            android:name=".BakeryActivity"
            android:exported="false" />
        <activity
            android:name=".DiaryActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryActivity"
            android:exported="true" />
        <activity
            android:name=".OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Location1Activity"
            android:exported="true" />
        <activity
            android:name=".ItemActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>